@model IEnumerable<GroupListModel>
@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentUserName"] = User.Identity.Name;
}

<div class="text-center">
    <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    <p>bla bla bbla some info</p>

    <div class="container m-5">
        <div class="row">
            <table class="table mt-1">
                <thead>
                    <tr>
                        <td>
                            <div class="paragraphs">
                                <div class="row">
                                    <div class="span4">
                                        <div class="mr-3 float-left">
                                            <h4>My Groups</h4>
                                        </div>
                                        <a asp-controller="Group" asp-action="Create" class="text-decoration-none">
                                            <img src="~/icons/add.png" alt="Add New" width="20" height="20" title="Add New" />
                                        </a>
                                        <a asp-controller="Group" asp-action="GenerateReportGroups" class="content-heading text-muted text-decoration-none">
                                            <img src="~/icons/report.png" alt="Generate Report" width="20" height="20" title="Generate Report" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td></td>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: left;">
                                <a asp-controller="Group" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </td>
                            <td style="text-align: right;">
                                <a asp-controller="Group" asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                                    <img src="~/icons/edit.png" alt="Edit" width="20" height="20" />
                                </a>
                                <a asp-controller="Group" asp-action="GenerateReportGroups" asp-route-id="@item.Id" class="text-decoration-none">
                                    <img src="~/icons/report.png" alt="Report" width="20" height="20" />
                                </a>
                                <a asp-controller="Group" asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none">
                                    <img src="~/icons/garbage.png" alt="Remove" width="20" height="20" />
                                </a>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
