@model GroupViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="esh-orders">
    <div class="container">

        <div>
            <a asp-controller="Home" asp-action="Index" class="content-heading text-muted text-decoration-none text-dark" >
                <img src="~/icons/back.png" alt="Back to List" width="20" height="20" /><span class="mt-2">Back To List</span>
            </a>
        </div>

        <div class="paragraphs">
            <div class="row">
                <div class="span4">
                    <div class="mr-3 float-left">
                        <h1>@Html.DisplayFor(model => model.Name)</h1>
                    </div>
                    <a asp-controller="Group" asp-action="Edit" asp-route-id="@Model.Id" class="content-heading text-muted text-decoration-none">
                        <img src="~/icons/edit.png" alt="Edit" width="20" height="20" title="Edit"/>
                    </a>
                    <a asp-controller="Group" asp-action="GenerateReportGroup" asp-route-id="@Model.Id" class="content-heading text-muted text-decoration-none">
                        <img src="~/icons/report.png" alt="Generate Report" width="20" height="20" title="Generate Report"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm-9 m-2">

                    <table class="table mt-1">
                        <thead>
                            <tr>
                                <td>
                                    <div class="paragraphs">
                                        <div class="row">
                                            <div class="span4">
                                                <div class="mr-3 float-left">
                                                    <h4>List of the Operations</h4>
                                                </div>
                                                <a asp-controller="Operation" asp-action="GenerateReportOperations" asp-route-id="@Model.Id" class="content-heading text-muted text-decoration-none">
                                                    <img src="~/icons/report.png" alt="Generate Report" width="20" height="20" title="Generate Report"/>
                                                </a>
                                                <a asp-controller="Operation" asp-action="Create" asp-route-id="@Model.Id" class="content-heading text-muted text-decoration-none">
                                                    <img src="~/icons/pay.png" alt="Add payment" width="20" height="20" title="Add payment" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </thead>
                        <thead>
                            <tr>
                                <th>Owner</th>
                                <th>Amount</th>
                                <th>Date of Loan</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Operations)
                            {
                                <tr>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.OwnerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfLoan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td style="text-align: right;">
                                        <a asp-controller="Operation" asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                                            <img src="~/icons/edit.png" alt="Edit" width="20" height="20" />
                                        </a>
                                        <a asp-controller="Operation" asp-action="GenerateReportOperation" asp-route-id="@item.Id" class="text-decoration-none">
                                            <img src="~/icons/report.png" alt="Report" width="20" height="20" />
                                        </a>
                                        <a asp-controller="Operation" asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none">
                                            <img src="~/icons/garbage.png" alt="Remove" width="20" height="20" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-2 m-2">
                    <table class="table mt-1 ml-5" style="width: max-content">
                        <thead>
                            <tr>
                                <td>
                                    <div class="paragraphs">
                                        <div class="row">
                                            <div class="span4">
                                                <div class="mr-3 float-left">
                                                    <h4>Users</h4>
                                                </div>
                                                <a asp-controller="Group" asp-action="GenerateReportDebts" asp-route-id="@Model.Id" class="content-heading text-muted text-decoration-none">
                                                    <img src="~/icons/report.png" alt="Generate Report" width="20" height="20" title="Generate Report" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in @Model.Debts)
                            {
                                <tr>
                                    <td>
                                        <b>@user.Debtor</b> owes <b>@user.Amount</b> to <b>@user.Borrower</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
