@model IEnumerable<GroupViewModel>
@{
    ViewData["Title"] = "My Groups";
}

<div class="esh-orders">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            <h1>@ViewData["Title"]</h1>
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                                    @Html.DisplayFor(modelItem => item.GroupName)
                                </a>
                                
                            </td>
                            <td style="text-align: right;">
                                <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">
                                    <img src="~/icons/edit.png" alt="Edit" width="20" height="20" />
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;">
                                    <img src="~/icons/garbage.png" alt="Remove" width="20" height="20" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div style="margin-top:200px;" align="center">
                You do not participate in any of groups
            </div>
        }
    </div>
</div>
